html
{
    width: 100%;
    height: 100%;
    padding: 0px;
}
body
{
    background-color: #F2F3F4;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0px;
}
.wrapper
{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
}
.inner-container-banner
{
    display: flex;
    width: 800px;
    height: 100px;
}
.inner-image
{
    flex: 1;
    background-color: white;
}
.inner-banner
{
    flex: 3;
    background-color: white;
    padding-left: 1%;
    padding-right: 1%; 
}
.inner-banner h1
{
    font-family: arial;
    color: #21618C;
}
.inner-container-form
{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #283747;
}
.field-group
{
    flex: 1;
    display: flex;
}
.label
{
    flex: 1;
    margin-top: 1%;
}
.input
{
    flex: 3;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: arial;
    font-weight: bolder;
}
.label-name
{
    flex: 1;
    padding-bottom: 1%;
    padding-top: 1%;
}
label
{
    font-family: arial;
    font-weight: bolder;
    margin-left: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.field-group p
{
    font-family: arial;
    font-weight: bolder;
    margin-left: 5%;
    color: #6E2C00;
}
.input-fname
{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1%;
    padding-top: 1%;
}
.input-mname
{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1%;
    padding-top: 1%;
}
.input-lname
{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1%;
    padding-top: 1%;
}
.field-group-personal
{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.input-checkbox
{
    flex: 1;
    display: flex;
}
.input-checkbox div
{
    flex: 1;
    display: flex;
    font-family: arial;
    font-weight: bolder;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.input-control
{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    background-color: #FDFEFE;
    border-width: 2px;
    border-style: double;
    border-color: cadetblue;
}
.field-group-button
{
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.submit-button
{
    font-weight: bolder;
    padding: 1.5%;
    background-color: #2E4053;
    color: white;
    width: 20%;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}
.submit-button:hover
{
    background-color: #2874A6;
}
.main-banner
{
    margin: 0px;
}
sup
{
    font-weight: bolder;
    color: red;
    font-size: 15px;
}
@media screen and (max-width: 600px)
{
    .inner-container-banner
    {
        width: 500px;
    }
    .inner-container-form
    {
        width: 500px;
    }
    .main-banner
    {
        width: 500px;
    }
    .inner-banner h1
    {
        font-size: 25px;
    }
    .field-group
    {
        flex-direction: column;
    }
    .field-group
    {
        flex-direction: column;
    }
    .input
    {
        justify-content: center;
    }
    .input-fname
    {
        justify-content: center;
    }
    .input-mname
    {
        justify-content: center;
    }
    .input-lname
    {
        justify-content: center;
    }
    .inner-container-banner
    {
        flex-direction: column;
    }
    .inner-image
    {
        width: 50%;
        height: 50%;
    }
}
@media screen and (max-width: 768px)
{
    .inner-container-banner
    {
        width: 700px;
    }
    .inner-container-form
    {
        width: 700px;
    }
    .main-banner
    {
        width: 700px;
    }
    .field-group-button
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .submit-button
    {
        font-size: 13px;
        width: 30%;
        height: 30px;
    }
    .input-checkbox
    {
        flex-direction: column;
    }
    .input-checkbox div
    {
        display: flex;
        justify-content: flex-start;
        padding-left: 5%;
    }
}
@media screen and (max-width: 500px)
{
    .inner-container-banner
    {
        width: 300px;
    }
    .inner-container-form
    {
        width: 300px;
    }
    .main-banner
    {
        width: 300px;
    }
    .inner-banner h1
    {
        font-size: 20px;
    }
    .field-group
    {
        flex-direction: column;
    }
    .input
    {
        justify-content: center;
    }
    .input-fname
    {
        justify-content: center;
    }
    .input-mname
    {
        justify-content: center;
    }
    .input-lname
    {
        justify-content: center;
    }
    .inner-container-banner
    {
        flex-direction: column;
    }
    .inner-image
    {
        width: 50%;
        height: 50%;
    }
    .field-group-button
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .submit-button
    {
        font-size: 13px;
        width: 30%;
        height: 30px;
    }
    .input-checkbox
    {
        flex-direction: column;
    }
    .input-checkbox div
    {
        display: flex;
        justify-content: flex-start;
        padding-left: 5%;
    }
}